h1 {
	color: #4aaaa5;
}

.icon-bar {
	color: #4aaaa5;
}


#footer {
	margin-top: 20px;
}


.carousel-caption h4 {
	background-color:#4aaaa5;
	position: static;
	text-align: center;

/*/* Code I would like to add to complete this site but had issues doing*/

/*I notice the portfolio page labels are not responsive when you get th 640px*/


